<mat-card>
  <mat-card-title>Output</mat-card-title>
  <mat-card-content>
    <ol class="wsResponses" #wsResp [scrollTop]="wsResp.scrollHeight">
      <li *ngFor="let resp of wsResponseHistory">
          <div class="msg">
              {{resp}}
          </div>
      </li>
    </ol> 
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Input</mat-card-title>
  <mat-card-content>
    <div>
      <input type="text" style="width: 100%; height: 30px; border: 0"
      #msgInput 
      (keydown.enter)="send(msgInput.value); msgInput.value = ''" 
      placeholder="Input text here and press Enter/Submit">
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content style="text-align: center;">
    Status: <strong>{{connectionStatus}}</strong><br>
    Web Fake Name: <strong>{{machineName}}</strong>
  </mat-card-content>
</mat-card>

